:root {

  --primary: rgb(171, 167, 249);
  --primary-hover: rgb(131, 127, 209) ;
  --on-primary: rgb(26, 31, 38) ;

  --secondary: rgb(255, 218, 217) ;
  --secondary-hover: rgb(215, 178, 177) ;
  --on-secondary: rgb(26, 31, 38) ;

  --container: rgb(41, 46, 53) ;
  --on-container: rgb(255, 255, 255) ;

  --background: rgb(26, 31, 38) ;
  --on-background: rgb(255, 255, 255) ;

  --ff-heading: "Raleway", sans-serif ;
  --ff-body: "Open Sans", sans-serif ;

}